body{
    margin:0;
    padding: 0;
    color: #242424;
    font-family: sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  
  h1,h2,h3,h4,h5,h6{
    font-weight: 900;
    color: #000;
  }
  .wrapper{
    width: 100%;
    margin: 0 auto;
  }
  
  main{
    display:block;
    background-color:#FFF;
  }
  .container{
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
  }
  section.module p{
    margin-bottom: 40px;
  }
  section.module:last-child{
    margin-bottom: 0;
  }
  section.module h2{
    margin-bottom: 40px;
    font-size: 30px;
  }
  section.module.content{
    padding: 40px 0;
    background: #ece7d5;
  }
    
  section.module.parallax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50% ;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size:cover ;
    -moz-background-size: cover;
  }
  
  section.module.parallax::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: -webkit-moz-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0)40%, #000 100%);
    background: -moz-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0)40%, #000 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0)40%, #000 100%);
  }
  section.module.parallax-1{
    background-image: url("https://images.unsplash.com/photo-1600585154340-be6161a56a0c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  }
  section.module.parallax-2{
    background-image: url("https://images.unsplash.com/photo-1495521821757-a1efb6729352?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1326&q=80");
  }
  section.module.parallax-3{
    background-image: url("https://images.unsplash.com/photo-1530546171585-cc042ea5d7ab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=936&q=80");
  }
  section.module.parallax h1{
    color: #FFF;
    text-align: center;
    font-size: 78px;
    z-index: 50;
    text-transform: uppercase ;
  }

  /*aqui começa as configurações relacionadas ao header*/

*{
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(0, 0, 0);
    width: 100%;
    font-family: monospace,sans-serif;
    height: auto;
    padding: 10px 0px;
}

.navlink{
    text-decoration: none;
    color: white;
    font-size: min(30px);  
}

.menusuperior > ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.navinput{
    font-size: 20px;
    height: 30px;
    width: auto;
  }

  /*aqui acaba*/

  .botaoparacima > a{
    padding: 20px;
    color: white;
    background-color: #ff9101;
    border-radius: 100%;
    border-radius: 100%;
    position: fixed;
    bottom:2%;
    right:1%;
    z-index: 999;
  }

